<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>620687009284-d2leugj6ad4c572mtdfuahdkcpfnt04g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620687009284-d2leugj6ad4c572mtdfuahdkcpfnt04g</string>
	<key>API_KEY</key>
	<string>AIzaSyAoSI6NpAQACf6szOD7LWhf5DT6PQ6OlOI</string>
	<key>GCM_SENDER_ID</key>
	<string>620687009284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jayChen.RankTree</string>
	<key>PROJECT_ID</key>
	<string>ranktree-5f889</string>
	<key>STORAGE_BUCKET</key>
	<string>ranktree-5f889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:620687009284:ios:8736dbf97c1388d9</string>
	<key>DATABASE_URL</key>
	<string>https://ranktree-5f889.firebaseio.com</string>
</dict>
</plist>